[submodule "plumbers2014/reveal.js"]
	path = plumbers2014/reveal.js
	url = gh:hakimel/reveal.js
  branch = 2.6.2
[submodule "lca2015/reveal.js"]
	path = lca2015/reveal.js
	url = gh:hakimel/reveal.js
[submodule "woc15/reveal.js"]
	path = woc15/reveal.js
	url = gh:hakimel/reveal.js
